<section class="head-text">
	<h2>興奮冷めやらぬうちに<span>、</span>膨らんだ期待を共有しよう。</h2>
	<p>YouScreamJiro(USJ)は、ラーメン二郎に並ぶ前の高揚感をシェアするための<br/>Twitter投稿簡易化アプリです。</p>
	<p>あなたのTwitterアカウントとSwarmアカウントをUSJに連携させることで、<br/>興奮をより多次元的にシェアすることができます。</p>

	<p>使い方</p>

	<h2>このアプリでできること</h2>
	<p>ラーメン二郎に抱く高揚感は、様々なファクターから成り立っています。<br/>
	例えば、滞在時間の大半を占めることもある、行列での待ち時間。<br/>
	その間、立ち昇る蒸気からスープの香りを感じ<br/>先行して麺にありつく人の丼から、自分のラーメンの出来栄えを想像する。<br/>
	着席後、コールを伝える。カスタマイズされたラーメンが目の前に登場し<br/>心の中で最後のコール「いただきます」を唱え、かぶりつく。<br/><br/>

	しかし、この高揚感の発火点は、「二郎に行きたい」と思ったその瞬間から拡大するもの。<br/><br/>
	二郎に行きたいと思った瞬間から、完食に至るまでのプロセス。
	</p>
</section>